// ================================ Fonts  ==========================================
$font-family: 'Roboto';
$font-family-italic: 'Roboto Italic';
$font-regular: 'Roboto Regular';
$font-medium: 'Roboto Medium';
$font-semibold: 'Roboto SemiBold';
$font-semibold-italic: 'Roboto SemiBold Italic';
$font-bold: 'Roboto Bold';
$font-bold-italic: 'Roboto Bold Italic';

$font-size-tiny: 12px;
$font-size: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-body: 24px;
$font-size-huge: 28px;
$font-size-extra-huge: 48px;
$line-height-tiny: 18px;
$line-height-body: 24px;
$font-family-base: $font-family;
$font-size-base: $font-size;

// ================================ Colors ==========================================
$bg-primary: #35509a;

// ================================ Border Radius ==========================================
$border-radius-huge: 24px;
$border-radius-large: 16px;
$border-radius-medium: 12px;
$border-radius-small: 10px;
$border-radius-tiny: 8px;
$border-radius-micro: 6px;
$border-radius-extra-micro: 4px;
$border-radius-mini: 2px;

// ================================ Border color ==========================================
$border-primary: #35509a;

// ================================ Text color ============================================
$text-primary: #35509a;
